<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_launched</key>
	<string>app_launched</string>
	<key>sync_launched</key>
	<string>sync_launched</string>
	<key>sync_push_list_size</key>
	<string>sync_push_list_size</string>
	<key>sync_pull_list_size</key>
	<string>sync_pull_list_size</string>
	<key>sync_duration</key>
	<string>sync_duration</string>
	<key>pull_duration</key>
	<string>pull_duration</string>
	<key>push_duration</key>
	<string>push_duration</string>
	<key>no_locations_while_ending_trip</key>
	<string>no_locations_while_ending_trip</string>
	<key>last_transition_is_not_trip_end_detected</key>
	<string>last_transition_is_not_trip_end_detected</string>
	<key>first_loc_null</key>
	<string>first_loc_null</string>
	<key>first_loc_before_start_transition</key>
	<string>first_loc_before_start_transition</string>
	<key>before_and_after_point_count_zero</key>
	<string>before_and_after_point_count_zero</string>
</dict>
</plist>
