<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key.usercache.location</key>
	<string>background/location</string>
	<key>key.usercache.filtered_location</key>
	<string>background/filtered_location</string>
	<key>key.usercache.activity</key>
	<string>background/motion_activity</string>
	<key>key.usercache.accelerometer</key>
	<string>background/accelerometer</string>
	<key>key.usercache.battery</key>
	<string>background/battery</string>
	<key>key.usercache.sensor_config</key>
	<string>config/sensor_config</string>
	<key>key.usercache.sync_config</key>
	<string>config/sync_config</string>
	<key>key.usercache.consent_config</key>
	<string>config/consent</string>
	<key>key.usercache.transition</key>
	<string>statemachine/transition</string>
	<key>key.usercache.client_time</key>
	<string>stats/client_time</string>
	<key>key.usercache.client_nav_event</key>
	<string>stats/client_nav_event</string>
	<key>key.usercache.client_error</key>
	<string>stats/client_error</string>
  <key>key.usercache.app_config</key>
  <string>config/app_ui_config</string>
	<key>metadata.usercache.write_ts</key>
	<string>write_ts</string>
</dict>
</plist>
